.circle{
    width:200px;
    height:200px;
    border-radius:100px;
    color:black;
    /*line-height:500px;*/
    text-align:center;
    background-color:gainsboro;
    display: inline-block;
    margin: 5% 8% 0% 15%;
    padding: 1%;

}

.circle input{
    margin: 16% 0 0 35%;
    cursor: pointer;
}

input{
    width: 45%;
    /*margin-top: 16%;*/
    margin-left: 0%;
    border: none;
    background-color: gainsboro;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.circle .corner-circle{
    /*width: 20%; !*can be in percentage also.*!*/
    height: 50px;
    width: 50px;
    border-radius: 25px;
    margin: 0 auto;
    padding-top: 1%;
    position: relative;
    background: black;
    margin-right: 1%;
    color: #ffffff;
}

.circle .corner-circle input{
    background-color: black;

}


.header{
    text-align: center;
}

button{
    background-color: black;
    color: #ffffff;
    padding: 1%;
    border: none;
}

#total-amt{
    padding: 1%;
}